{% extends 'base.html' %}

{% block title %}
    This is the index
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Hackathon Template</h1>
                <p class="lead">Ready to strike, it's gonna be good!</p>
                <div class="card">
                    <div class="card-header">This is the header</div>
                    <div class="card-body">This is the body</div>
                </div>
                <div class="spinner-border" role="status">
                    <span class="visually-hidden">Loading...</span>
                </div>
            </div>
        </div>
    </div>

{% endblock %}