{% extends 'base.html' %}

{% block title %}
    This is the index
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h1 class="mt-5">Hackathon Template</h1>
                <p class="lead">Ready to strike, it's gonna be good!</p>
                <div id="app">
                    [[ message ]]
                </div>
                <script>
                    var app = new Vue({
                        delimiters: ['[[', ']]'],
                        el: '#app',
                        data: {
                            message: 'Yes it does seem to work hehe!'
                        }
                    })
                </script>
                <div id="app2">
                    <span v-bind:title="message">
                        Hover for a few seconds!
                    </span>
                </div>
                <script>
                    var app2 = new Vue({
                        delimiters: ['[[', ']]'],
                        el: '#app2',
                        data: {
                            message: 'You loaded this page on ' + new Date().toLocaleString()
                        }
                    })
                </script>
                <div id="app5">
                    <p>[[ message ]] </p>
                    <button v-on:click="reverseMessage">Reverse Message</button>
                </div>
                <script>
                    var app5 = new Vue({
                        delimiters:['[[', ']]'],
                        el: '#app5',
                        data: {
                            message: 'This will reverse the message wooo hooo!'
                        },
                        methods: {
                            reverseMessage: function() {
                                this.message = this.message.split('').reverse().join('')
                            }
                        }
                    })
                </script>
                <div id="app6">
                    <p>[[ message ]] </p>
                    <input v-model="message">
                </div>
                <script>
                    var app6 = new Vue({
                        delimiters:['[[', ']]'],
                        el: '#app6',
                        data: {
                            message: 'Hello Vue!'
                        }
                    })
                </script>
            </div>
        </div>
    </div>

{% endblock %}