{% extends 'base.html' %}

{% block title %}
    Vuetify test
{% endblock %}

{% block content %}
    <div id="app">
        <v-app id="inspire">
            <v-row class='text-center'>
                <v-col>
                    <v-card>
                        <v-card-title>First</v-card-title>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card>
                        <v-card-title>Second</v-card-title>
                    </v-card>
                </v-col>
                <v-col>
                    <v-card>
                        <v-card-title>Third</v-card-title>
                    </v-card>
                </v-col>
            </v-row>
            <v-row>
                <v-expansion-panels class="align-self-start">
                    <v-expansion-panel
                            v-for="(item,i) in 5"
                            :key="i"
                    >
                        <v-expansion-panel-header>
                            Ada
                        </v-expansion-panel-header>
                        <v-expansion-panel-content>
                            <span v-for="n in i">very </span><span>cute</span>
                        </v-expansion-panel-content>
                    </v-expansion-panel>
                </v-expansion-panels>
                </v-row>
        </v-app>
    </div>

    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify(),
            delimiters: ['[[', ']]'],
            data: () => ({
                labels: [
                    '12am',
                    '3am',
                    '6am',
                    '9am',
                    '12pm',
                    '3pm',
                    '6pm',
                    '9pm',
                ],
                value: [
                    200,
                    675,
                    410,
                    390,
                    310,
                    460,
                    250,
                    240,
                ],
            }),
        })
    </script>
    <style>
        .v-sheet--offset {
            top: -24px;
            position: relative;
        }
    </style>
{% endblock %}