.ratio{
    width: 100%;
    height: 100%;
}

.pad-left{
    padding-left: 12px;
}

.pad-right{
    padding-right: 12px;
}

.jumbotron {
    background-color: whitesmoke;
}

.input{
    font-size: 48px;
}
