.ratio {
    max-height: 200px;
    object-fit: cover;
}

.pad-left {
    padding-left: 12px;
}

.pad-right {
    padding-right: 12px;
}

.jumbotron {
    background-color: whitesmoke;
}

input {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    font-weight: bold;
    border-radius: 4px;
    border-color: black;
    box-sizing: border-box;
    border-style: dashed;

}

.form {
    padding: 10px 10px 10px 10px;
}

.wide:hover {
    border: 10px #0275d8 !important;
}


.wide {
    display:flex;
}

.heading {
    margin-top: 5vh;
}

b {
    text-decoration: underline;
    text-decoration-style: dashed;

}

a {
   color: black;
}

.bg-light{
    color: white;
    background-color: slategrey!important;
}

span{
    color: white;
}

.collapse{
    color:white;
}

.show{
    color:white;
}

.dashes{
    border-style: dashed;
    border-radius: 1px;
}

.accordion-button:after {
    color:white;

}

#over {
    height: 200px !important;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 60vh;
    max-width: 100%;
    overflow: hidden;
}

.d-block {
    max-height: 300px;
    object-fit: cover;
}
